h1, h2, h3, h4, h5, h6{
  font-family: 'Playfair Display', serif;
  color: #18191a;
}

h2{
  font-size: 48px;
}

.subHead{
font-family: 'Montserrat', sans-serif;
font-weight: 600;
font-size: 32px;
}

p{
font-family: 'Montserrat', sans-serif;
}


body{
  margin: 5% 20% 5%;
}

.pageTopic {
  text-align: center;
  font-size: 100px;
  margin: 50px;
}

.logo img{
  width: 30%;
  padding: 10px 20px 80px;
}

/*color*/
.colorDiff{
  display: flex;
}

.sectionColor{
  margin-right: 90px;
}
.colorContainer {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-right: 20px;
}

.swatch {
  height: 200px;
  width: 200px;
  align-items: center;
}

.whiteText{
  color: white;
}

.hexCode {
  padding-top: 80px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 28px;
}

.darkGreen {
  background-color: #2F4F4F;
}

.beige {
  background-color: #F9EFE4;
}

.salmon {
  background-color: #F6AF9B;
}

.black{
  background-color: #18191A;
}
.white{
  background: white;
  border: 1px solid black;
}



/*typography*/
.type_container {
  display: inline-block;
  margin: 5px;
}

.regular {
  font-weight: 500;
}
.bold{
  font-weight: 700;
}
.typography h1 {
  font-size: 56px;
  font-weight: 700px;
}
.typography h2 {
  font-size: 48px;
  font-weight: 700;
}
.typography h3 {
  font-size: 36px;
  font-weight: 700;
}
.typography h4 {
  font-size: 24px;
  font-weight: 700;
}

.typographySection{
  display: flex;
  margin-bottom: 50px;
}

.large {
  font-size: 150px !important;
  margin-bottom: 10px;
  margin-top: 0;
}

.example{
  margin-left: 80px;
  margin-top: 40px;
}
.example h1{
  margin-bottom: 20px;
}
.example h2{
  margin-bottom: 20px;
}
.example h3{
  margin-bottom: 20px;
}
.example h4{
  margin-bottom: 20px;
}

.typedisplay{
  font-size: 36px;
  line-height: 110%;
}

.monHead{
  line-height: 90%;
}

/*button*/

.buttonContain{
 margin-bottom: 50px;
}

.button {
  padding-left:20px !important;
  padding-right: 20px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  display:inline-block;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-radius: 42px;
  margin-bottom: 50px;
  margin-right: 20px;
}

.primary {
  background-color: #2F4F4F;
  color: white !important;
  border-color: #2F4F4F;
}
.secondary {
  background-color: white;
  color: #2F4F4F !important;
  border-color: #2F4F4F;
} 

.primaryActive {
  background-color: #658B87;
  border-color: #658B87;
  color: white !important;
}
.secondaryActive {
  background-color: #E3EDE6;
}


.primaryDisabled{
 background-color: #E4E4E4;
 color: #999999;
border-color: #E4E4E4;
}
.secondaryDisabled{
background-color: #E4E4E4;
 color: #999999;
}

.sectionHead{
  border-top: 1px solid #18191a;
  padding-top: 50px;
  padding-bottom: 20px;
}
.icons img{
  margin-right: 30px;
}
.icons{
  margin-bottom: 50px;
}

.imagery img{
  margin-right: 50px;
  margin-bottom: 50px;
  width: 300px;
}